transportConfigurationId
5                              # Client thread quota - one for UDP and one for TCP
5                              # Client connection quota - one for UDP and one for TCP
0                              # Server startup quota
0                              # Server connection quota
CM-network                     # Name of memory object used for managing connections
/

connectionHB                  
Network.0                      # Server process name
defaultMailbox                 # Server connection request mailbox name
0                              # Server connection mailbox queue size (unused by Network process)
HBServiceThread                # Server thread template name
*                              # Error timeout
1                              # Client connection mailbox queue size; each queue entry requires a page of RAM
/

connectionData                
Network.0                      # Server process name
defaultMailbox                 # Server connection request mailbox name
0                              # Server connection mailbox queue size (unused by Network process)
dataServiceThread              # Server thread template name
*                              # Error timeout
1                              # Client connection mailbox queue size; simple protocols only require 1 entry 
/

connectionANS                
Network.0                      # Server process name
defaultMailbox                 # Server connection request mailbox name
0                              # Server connection mailbox queue size (unused by Network process)
userServiceThread              # Server thread template name
*                              # Error timeout
1                              # Client connection mailbox queue size; simple protocols only require 1 entry 
/

connectionGP           
Network.0                      # Server process name
defaultMailbox                 # Server connection request mailbox name
0                              # Server connection mailbox queue size (unused by Network process)
GPServiceThread              # Server thread template name
*                              # Error timeout
1                              # Client connection mailbox queue size; simple protocols only require 1 entry 
/

pySteConnection                # TCP connection
Network .0                     # Server process name
defaultMailbox                 # Server connection request mailbox name
0                              # Server connection mailbox queue size (unused by Network process)
userServiceThread              # Server thread template name
*                              # Error timeout 5000ms
1                              # Client connection mailbox queue size; each queue entry requires a page of RAM
/